section.wrapper{
  height: calc(100vh - 80px);
}

/* BARRA DI NAVIGAZIONE LATERALE */
  .wrapper .left-nav{
    width: 250px;
    height: calc(100vh - 80px);
    background: rgb(0, 0, 0);
  }

  .wrapper .logo{
    height: 70px;
    padding: 10px;
  }

  .wrapper .logo img{
    max-height: 40px;
  }

  .wrapper .logo .mobile{
    display: none;
  }

  .wrapper .navigate{
    height: calc(100vh - 150px);
    color: #696969;
  }

  .wrapper .music{
    height: calc(100vh - 260px);
    z-index: 6;
    overflow: auto;
  }

  .wrapper .account{
    height: 110px;
    z-index: 9;
  }

  .wrapper .navigate .element{
    padding: 10px 20px;
  }

  .wrapper .navigate .btn{
    cursor: pointer;
  }

  .wrapper .navigate .btn:hover{
    color: white;
  }

  .wrapper .navigate .active{
    color: white;
    box-shadow: inset 4px 0 0 0 #ADFF2F;
  }

  .wrapper .navigate img{
    height: 25px;
  }

  .wrapper .navigate h3{
    color: white;
  }

  .wrapper .navigate .add{
    background: #696969;
    color: black;
    font-size: 2rem;
    padding: 5px 15px;
  }

  .wrapper .navigate .add:hover{
    color: white;
  }

  .wrapper .navigate .pl-list{
    height: calc(100vh - 505px);
    overflow: auto;
  }

  .wrapper .account .btn{
    padding: 5px 0;
    border-bottom: 1px solid #696969;
  }

  .wrapper .account .user{
    padding: 10px 20px;
    color: white;
    font-weight: 800;
  }

  .wrapper .account .user-img{
    position: relative;
    width: 40px;
    height: 40px;
    background: #696969;
    border-radius: 50%;
  }

  .wrapper .account .user-img img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
/* /BARRA DI NAVIGAZIONE LATERALE */


/* SEZIONE CONTENUTI */
  .wrapper .content{
    width: calc(100% - 250px);
    height: 100%;
    overflow-y: auto;
    background: #141922;
    padding: 90px 20px 20px;
    color: white;
  }

  /* BARRA SUPERIORE FIXED */
    .wrapper .top-bar{
      position: fixed;
      left: 250px;
      right: 0;
      top: 0;
      z-index: 8;
      height: 70px;
      background: rgba(0, 0, 0, .5);
    }

    .wrapper .top-bar .btn{
      cursor: pointer;
      color: white;
      padding: 10px 30px;
      border: 2px solid white;
      border-radius: 25px;
      font-size: .8rem;
    }

    .wrapper .top-bar .btn:hover{
      font-size: 1rem;
    }
  /* /BARRA SUPERIORE FIXED */

  /* MENU SUPERIORE */
    .wrapper nav ul{
      flex-wrap: wrap;
    }

    .wrapper .content nav li{
      cursor: pointer;
      list-style: none;
      text-transform: uppercase;
      display: inline-block;
      color: #696969;
      margin: 0 10px 20px;
    }

    .wrapper .content nav li:hover{
      color: white;
    }

    .wrapper .content nav .active{
      position: relative;
    }

    .wrapper .content nav .active::after{
      content: '';
      display: block;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 40%;
      padding: 3px;
      border-bottom: 2px solid #ADFF2F;
    }
  /* /MENU SUPERIORE */

  /* SEZIONE BROWSE MUSIC */
    .wrapper .browse-music .row{
      flex-wrap: wrap;
    }

    .wrapper .browse-music .col{
      width: calc(100% / 6);
    }

    .wrapper .browse-music .play-card{
      cursor: pointer;
    }

    .wrapper .browse-music .play-img{
      position: relative;
      width: 100%;
    }

    .wrapper .browse-music .play-img::after{
      content: "";
      position: absolute;
      display: block;
      padding-bottom: 100%;
    }

    .wrapper .browse-music .play-img .overlay{
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, .3);
      display: none;
    }

    .wrapper .browse-music .play-img .overlay i{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .wrapper .browse-music .play-card:hover .overlay{
      display: block;
    }

    .wrapper .browse-music .play-info{
      text-align: center;
    }

    .wrapper .browse-music h4{
      color: #696969;
      margin-top: 5px;
    }

    .wrapper .browse-music .popular .play-img{
      border-radius: 50%;
      overflow: hidden;
    }
  /* /SEZIONE BROWSE MUSIC */
/* /SEZIONE CONTENUTI */

/* PLAYER INFERIORE */
  section.control-panel{
    height: 80px;
    z-index: 10;
    background-color: #282828;
    padding: 10px;
    color: #696969;
  }

  .control-panel span{
    cursor: pointer;
  }

  .control-panel span:hover{
    color: white;
    text-decoration: underline;
  }

  .control-panel .bar{
    cursor: pointer;
    position: relative;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background: #696969;
  }

  .control-panel .passed{
    height: 100%;
    width: 25%;
    background: white;
  }

  /* SEZIONE BRANO IN RIPRODUZIONE */
    .control-panel .track-img{
      width: 50px;
    }

    .control-panel .title{
      color: white;
      font-size: .9rem;
      font-weight: 800;
    }

    .control-panel .artist{
      font-size: .8rem;
    }
  /* /SEZIONE BRANO IN RIPRODUZIONE */

  /* SEZIONE SCORRIMENTO */
    .control-panel .timing{
      width: 50%;
    }

    .control-panel .time.bar:hover .passed{
      background: #ADFF2F;
    }

    .control-panel .time.bar:hover::after{
      content: '';
      position: absolute;
      left: 25%;
      transform: translateX(-50%);
      top: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
    }
  /* /SEZIONE SCORRIMENTO */

  /* SEZIONE VOLUME */
    .control-panel .vol{
      width: 100px;
    }

    .control-panel .vol .bar:hover .passed{
      background: #ADFF2F;
    }

    .control-panel .vol .bar:hover::after{
      content: '';
      position: absolute;
      left: 25%;
      transform: translateX(-50%);
      top: -6px;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: white;
    }
  /* /SEZIONE VOLUME */
/* /PLAYER INFERIORE */

/*******************************************
  SEZIONE MEDIA QUERY
*******************************************/
@media all and (max-width:1100px) {
  /* /SEZIONE CONTENUTI */
    /* /SEZIONE BROWSE MUSIC */
      .wrapper .browse-music .col{
        width: 25%;
      }
    /* /SEZIONE BROWSE MUSIC */
  /* /SEZIONE CONTENUTI */
}

@media all and (max-width:900px) {
  /* /SEZIONE CONTENUTI */
    /* /SEZIONE BROWSE MUSIC */
      .wrapper .browse-music .col{
        width: 50%;
      }
    /* /SEZIONE BROWSE MUSIC */
  /* /SEZIONE CONTENUTI */  
}

@media all and (max-width:600px) {
  .desktop{
    display: none;
  }

  /* BARRA DI NAVIGAZIONE LATERALE */
    .wrapper .left-nav{
      width: 60px;
    }
    
    .wrapper .logo .mobile{
      display: inline-block;
    }

    .wrapper .account{
      justify-content: center;
    }

    .wrapper .account .btn{
      text-align: center;
    }

    .wrapper .account .user{
      padding: 5px 0;
      justify-content: center;
    }
  /* BARRA DI NAVIGAZIONE LATERALE */

  /* SEZIONE CONTENUTI */
    .wrapper .content{
      width: calc(100% - 60px);
    }

    /* BARRA SUPERIORE FIXED */
      .wrapper .top-bar{
        left: 60px;
      }
    /* /BARRA SUPERIORE FIXED */
  /* /SEZIONE CONTENUTI */
}